.canvas-class{
    position: absolute;
    z-index: 999;
    right: 7%;
    margin-top: 7px;    
}

.title-canvas{
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    font-weight: 600;
    right: 19%;
}